body {
  margin: 0;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameContainer {
  transform: scale(2);
}

#gameScreen {
  image-rendering: -webkit-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

@font-face {
  font-family: dungeon;
  src: url(../assets/fonts/dungeon-mode.ttf);
}
